<!--confirmation_email1-->
{% load humanize %}

<div style="font-family: Arial, sans-serif; line-height: 1.8; color: #333;">
    <h2 style="text-align: center;">ご予約ありがとうございました</h2>
    <h2 style="text-align: center; color: #007bff;">山荘アオのご予約内容</h2>
    <p><strong>チェックイン日(13:00~):</strong></br>{{ check_in_date }}</p>
    <p><strong>チェックアウト日(~10:00):</strong></br>{{ check_out_date }}</p>
    <p><strong>名前:</strong></br>{{ name }}</p>
    <p><strong>ふりがな:</strong></br>{{ furigana }}</p>
    <p><strong>予約人数:</strong></br>{{ people }}人</p>
    <p><strong>電話番号:</strong></br>{{ phone_number }}</p>
    <p style="font-size: 1.2em; font-weight: bold; color: #d9534f;">
        <strong>合計金額:</strong></br>{{ total_amount|intcomma }}円（税込）
    </p>
    <p>現地で、<strong>現金</strong>もしくは<strong>PayPay</strong>でお支払いください。</p>
</div>


